%h2.center
  About Us
  %br
  %br
%h3
  This is stuff about DocTalk.  Isn't it cool!
  %br
  %br
  %h3.center.fix_font_coloring
-#    %a{:href => sign_up_path} Ready to register?
-#    %br
-#    %br
-#%p{ :style => "text-align: center; padding-bottom: 50px;" }
-#  .go_back_button.center
-#    %a{ :href => "previous.html", :onClick => "history.back();return false;", :class => "btn" }
-#      Go back