!!!
%html
  %head
    %title DocTalk
    %meta{:name => "description", :content => "MeetMeAgain.com lets you find that interesting person who crossed your path."}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    = favicon_link_tag 'favicon.ico'
  %body
    %h1
      Welcome to DocTalk!

    %i.foundicon-smiley
