-#!!!
-#%html
-#  %head
-#    %title DocTalk
-#    %meta{:name => "description", :content => "DocTalk is a collaboratively edited question and answer site for physicians and medical professionals. Registration required."}
-#
-#    = stylesheet_link_tag    "application", :media => "all"
-#    = javascript_include_tag "application"
-#    = csrf_meta_tags
-#
-#    = favicon_link_tag '/favicon.ico'
-#  %body

%h1
  Welcome to DocTalk!