#answers {
  h4 {  }
  li {
    position: relative;
    list-style: none;
    background: rgba(254, 255, 239,.7);
    padding: 2em .6em 2.2em .9em;
    margin-bottom: .5em;
    border:1px solid #eee;
    box-shadow: transparentize(#eee,.5) 3px 1px 4px;
    &.accepted {
      border: 2px solid red;
    }
  }
  #answer-user {
    position: absolute;
    bottom : 0;
    right: 1em;
    width: auto;
    .user-link {
      font-size: .9em;
      position: relative;
      top: 0px;
      right: 0px;
      .social { font-size: 1.2em; }
    }
  }
  .add-comment {
    position: absolute;
    bottom: .1em;
    left: 1em;
  }
  .comment {
    background: rgba(240, 240, 240,.5);
    box-shadow: transparentize(#eee,.5) 3px 1px 4px;
    #comment-user {
      position: absolute;
      right: .7em;
      bottom: 1em;
      width: 10em;
      height: 1em;
      display: block;
      .social { font-size: 1.2em; }
      .user-link {
        color: rgb(124, 167, 180);
        font-size: .9em;
        position: absolute;
        top:0;

      }
    }
  }
}
