
#questions-index {
  list-style: none;
}

#question-show {
  position: relative;
  input { @extend .large; }
  article { position: relative; }
  #question {
    @extend .question;
  }
}

.question {
  border: 1px solid #eee;
  padding: .8em 3em;
  margin-bottom: .5em;
  position: relative;
  box-shadow: transparentize(#eee,.5) 3px 1px 4px;
  @media (max-width: 600px) {
    padding: .2em .5em;
    h1 { font-size: 1.7em !important;}
  }
  .edit-link {
    right: 1.4em;
    top: 3.2em;
    position: absolute;
    @media (max-width: 600px) {
      top: 1.8em;
    }
  }
  .foundicon-left-arrow { font-size: 1.7em; }
  #tags { margin-bottom: 3em;}
}

.user-link {
  top: 1em;
  right: 1em;
  position: absolute;
  .social { font-size: 1.4em; position: relative; top: .2em; }
  @media (max-width: 600px) {
    position: relative;
    top: -.3em;
    right: 0;
    left: .5em;
  }
}

#question-crud {
  top: 0;
  right: 3em;
  position: absolute;
  i {
    margin-right: 1em;
    font-size: 2.4em;
  }
}


#voting {
  bottom: 0;
  left: 0px;
  position: absolute;
  width: 9em;
  display: inline-block;
  padding: .3em .8em;
  border: 1px solid #eee;
  font-size: 1.6em;
  b {margin-right: .4em;}
  * { vertical-align: middle; }
  @media (max-width: 600px) {
    left: 0px;
    font-size: 1.2em;
    padding: .2em .5em;
    h1 { font-size: 1.7em !important;}
  }
}

#answer-it {
  width: 8em;
  line-height: 2em;
  text-align: center;
  border: 1px solid #eee;
  background: rgb(247, 255, 248);
  bottom: 0em;
  right: 0em;
  padding: 0 1em;
  position: absolute;
  font-size: 1.4em;
  &:hover {
    background: rgb(247, 247, 247);
    a { color: red !important; }
  }
  @media (max-width: 600px) {
    font-size: 1em;
  }
}