/ = link_to "Applepie", root_path, :class => 'brand'
/ %ul.nav
/   - if user_signed_in?
/     %li
/       = link_to 'Logout', destroy_user_session_path, :method=>'delete'
/   - else
/     %li
/       = link_to 'Login', new_user_session_path
/   - if user_signed_in?
/     %li
/       = link_to 'Edit account', edit_user_registration_path
/   - else
/     %li
/       = link_to 'Sign up', new_user_registration_path

%nav.top-bar
  %ul
    %li.name
      %h1
        = link_to "DocTalk", root_path, :class => 'brand'
    %li
      %a{:href => "#"}
        %i.foundicon-search
    / %li
    /   = link_to "Ask", new_question_path
    %li.toggle-topbar
      %a{:href => "#"}
  %section
    %ul.right
      %li
        = link_to 'Edit account', edit_user_registration_path
      %li
        = link_to 'Logout', destroy_user_session_path, :method=>'delete'
